<template>
  <v-container>    
	<v-row class="text-center">
		<v-img src="@/assets/bstool.png" aspect-ratio="1.7" contain height=180></v-img>
	</v-row>
	<v-row class="text-center">
		<v-col cols="6" offset="3">
			<v-text-field label="Nome do item" outlined v-model="searchTerm" v-on:keyup.enter="getItems"></v-text-field>
		</v-col>
    </v-row>
	<v-row class="text-center">
		<v-col cols="2" offset="4">
			<v-btn depressed small color="primary" v-on:click="getItems">Pesquisar</v-btn>
		</v-col>
		<v-col cols="2">
			<v-btn depressed small color="primary" v-on:click="searchTerm=''; items = []; alert=false; emptySearch=false">Limpar</v-btn>
		</v-col>
	</v-row>	
	<v-row>
	  <v-col cols="4" offset="4">
        <v-alert v-model="alert" outlined type="info" dismissible border="left" elevation="2" dense>
		  Precisamos de mais informações...
		</v-alert>
	  </v-col>
    </v-row>      
	
	<v-row>
	  <v-col cols="4" offset="4">
        <v-alert v-model="emptySearch" outlined type="info" dismissible border="left" elevation="2" dense>
		  Não encontramos nenhum item!
		</v-alert>
	  </v-col>
    </v-row>
	
	
	<v-row>
	  <v-col cols="8" offset="2">	    		
	    <v-list-item three-line v-for="item in items" v-bind:key="item._id">
		  <v-list-item-avatar>
			<v-img v-bind:src="'data:image/bmp; base64, ' + item.image"></v-img>
		  </v-list-item-avatar>
		  <v-list-item-content>
			<v-list-item-title>{{item.name}}</v-list-item-title>
			<v-list-item-subtitle v-bind:style="{color: priceColor}">{{item.price}} gold</v-list-item-subtitle>
			<v-list-item-subtitle> <span v-bind:style="{color: item.operation=='Comprar'?operation0Color:operation1Color}">{{item.operation}}</span> em {{item.npc}} em {{item.city}}</v-list-item-subtitle>
          </v-list-item-content>
		</v-list-item>
	  </v-col>
	</v-row>
  </v-container>
</template>
<script>
import ItemsService from "@/services/ItemsService";

export default {
  name: "items",
  data() {
    return {
      items: [],
	  searchTerm: '',
	  alert:false,
	  emptySearch:false,
	  resultados:false,
	  priceColor: 'yellow',
	  operation0Color: '#c62828',
	  operation1Color: 'green'
    };
  },
  methods: {
    async getItems() {
	  this.items = [];
	  if (this.searchTerm.length < 3){		
	    this.alert=true;
		return;
	  }
	  this.alert=false;
	  
	  var searchTermProcessed = this.searchTerm.split(' ').filter(function(value){return value.length>2;}).reduce(function(a,b){return a + ' ' + b;})
	  
      const response = await ItemsService.fetchItems(searchTermProcessed);
	  
	  this.items = response.data;
	  
	  if (this.items.length == 0){
		this.emptySearch = true;
		return;
	  }
	  this.emptySearch = false;
	  this.resultados = true;
    }
  }
};
</script>
