<script type='text/javascript' src='https://contador.s12.com.br/ad.js?id=C84ydWzCAz4B7BAy'></script>

<template>
  <v-footer padless>
    <v-col
      class="text-center"
      cols="12"
    >
      {{ new Date().getFullYear() }} — <strong>Bloodstone Tool - By Karthus</strong> - <img src='https://contador.s12.com.br/img-C84ydWzCAz4B7BAy-57.gif' border='0'>
    </v-col>
  </v-footer>
</template>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e474197a89cda5a18861093/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->	
