<template>
  <v-app>
    <v-content>
      <Items />
    </v-content>
    <Rodape />
  </v-app>
</template>
<script>
import Items from "./components/Items";
import Rodape from "./components/Rodape";

export default {
  name: "App",

  components: {
    Items,
	Rodape
  },

  data: () => ({
    //
  })
};
</script>